footer.footer
  .footer-box1
    p.footer-box1-text1 DREAMSHARE
  .footer-box2
    .footer-box2-text1
      p Company
    .footer-box2-text2
      p.footer-box2-text2-1 About
      p.footer-box2-text2-1 Contact
      p.footer-box2-text2-1 Press
      p.footer-box2-text2-1 Blog
      p.footer-box2-text2-1.text2 Terms and Privacy
      p.footer-box2-text2-1.text2 Help
  .footer-box3
    p Partners
  .footer-box4
    p.footer-box4-text1 DESIGNED BY
    img(src='styles/image/areto.png', alt='')
