header.header
  .header-box1
    .h-text1
      span DREAMSHARE
    .h-text2
      a.h-text3(href='#') Log in
      a.h-text4(href='#') Sign up
  .header-box2
    p.h-text5
      | SHARE YOUR
      | HOLIDAY DREAM
    p.h-text6 And find the perfect partner to fullfill it
    p.h-text7 Find your holiday partner
