main
  section.main1
    .main1-box1
      p.main1-box1-text1 How Dreamshare works?
    .main1-box2
      .main1-box2-box1
        p.main1-box2-box1-text1 STEP 1
        p.main1-box2-box1-text2 Sed leo enim, condimentum
        p.main1-box2-box1-text3
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      .main1-box2-box2
        p.main1-box2-box2-text1 STEP 2
        p.main1-box2-box2-text2 Morbi velit risus
        p.main1-box2-box2-text3
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      .main1-box2-box3
        p.main1-box2-box3-text1 STEP 3
        p.main1-box2-box3-text2 Sed leo enim, condimentum
        p.main1-box2-box3-text3
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  section.main2
    .main2-box1
      p.main2-box1-text1 Meet a partner for your best holiday
    .main2-box2
      .main2-box2-box1
        .main2-box2-box1-avatar
          img(src='styles/image/Person1.png', alt='')
        .main2-box2-box1-text1
          p Bradley Hunter
        .main2-box2-box1-text2
          p Based in Chicago. I love playing tennis and loud music.
      .main2-box2-box2
        .main2-box2-box2-avatar
          img(src='styles/image/Person2.png', alt='')
        .main2-box2-box2-text1
          p Marie Bennett
        .main2-box2-box2-text2
          p Currently living in Colorado. Lover of art, languages and travelling.
      .main2-box2-box3
        .main2-box2-box3-avatar
          img(src='styles/image/Person3.png', alt='')
        .main2-box2-box3-text1
          p Diana Wells
        .main2-box2-box3-text2
          p
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .main2-box2-box4
        .main2-box2-box4-avatar
          img(src='styles/image/Person4.png', alt='')
        .main2-box2-box4-text1
          p Christopher Pierce
        .main2-box2-box4-text2
          p Star Wars fanatic. I have a persistent enthusiasm to create new things.
    button.main2-box3
      a(href='#')
        p.main2-box3-text1 See other partners
  section.main3
    .main3-box1
      | Discover holiday activity ideas
    .main3-box2
      .main3-box2-pic1
        p.main3-box2-text.pic1 Sports and Activis
      .main3-box2-pic2
        p.main3-box2-text.pic2 Wellness and Health
      .main3-box2-pic3
        p.main3-box2-text.pic3
          | Extreme Sports
          | and Expeditions
      .main3-box2-pic4
        p.main3-box2-text Games
      .main3-box2-pic5
        p.main3-box2-text Culture and Education
      .main3-box2-pic6
        p.main3-box2-text Enjomet and Relaxation
      .main3-box2-pic7
        p.main3-box2-text Trevelling
  section.main4
    .main4-box1
      p Crate your holiday activity
    .main4-box2
      p Hi! What are your holiday interests?
    .main4-box3
      form
        input(type='search', placeholder='    Enter your insterests')
        input(type='button', value='Search partners')
